@{
    Layout = "~/Views/Shared/Manage/RLayout.cshtml";
}
@section breadCrumb {
    <li><a href="~/Active/Product/Product"><i class="fa-list-alt"></i> @ViewBag.MenuName</a></li>
    <li>@ViewBag.Caption</li>
}
@section IncludeCSS{
    <style>
        tr.placeholder {
            border: 3px #ccc dashed;
            height: 35px;
            opacity: 0.6;
            text-align: center;
            font-size: large;
        }

            tr.placeholder > td:before {
                line-height: 25px;
                content: "移到這裡";
                color: rgb(128, 128, 128);
            }
    </style>
}
@section IncludeScript{
    @Html.Partial("Manage/JSGlobalVar")
    <script>
        var gb_menuname = '@ViewBag.MenuName';
        var gb_caption = '@ViewBag.Caption';
        var gb_roles = '@ViewBag.RoleName';//Admins
        var gb_MainId = 1;
    </script>
    <script src="~/ckeditor/ckeditor.js?v=@CommWebSetup.CacheVer"></script>
    <script src="~/Scripts/build/app/m_all_category.js?v=@CommWebSetup.CacheVer"></script>
}
@section sidebar{
    @Html.Partial("Manage/vucMenu")
}