@model ProcCore.Business.DB0.m_Product_Category_L1
@{
    ViewBag.Title = "プロダクト::FEATURE OF PRODUCT::" + Model.l1_name;
    ViewBag.BodyClass = "Products";
    if (Request.QueryString["l3_id"] != null)
    {
        ViewBag.Target = Model.l2_list.FirstOrDefault().l3_list.FirstOrDefault().l3_name;
    }
    else
    {
        ViewBag.Target = Model.l2_list.FirstOrDefault().l2_name;
    }
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="#">プロダクト</a></li>
    @if (Request.QueryString["l1_id"] != null & Request.QueryString["l2_id"] == null)
    {
        <li><a href="~/Products/PSU_list?l1_id=@Model.product_category_l1_id">@Model.l1_name</a></li>
        if (Request.QueryString["l2_id"] != null & Request.QueryString["l3_id"] != null)
        {
            <li><a href="~/Products/PSU_list?l1_id=@Model.product_category_l1_id&l2_id=@Model.l2_list[0].product_category_l2_id">@Model.l2_list.FirstOrDefault().l2_name</a></li>
        }
    }
}

@section Scripts {
    @*<script src="~/Content/js/scrollspy.js"></script>*@
}

@Html.Partial("~/Views/Products/PSU_Sidebar.cshtml")

<div id="content">
    @foreach (var l2 in Model.l2_list)
    {
        <header class="intro">
            <h3 class="font-sp">@*<small>@Model.l1_name/</small> *@@l2.l2_name</h3>
            @* <h2 class="font-sp">FEATURE</h2>
                @Html.Raw(Model.l2_info) *@
        </header><!-- info //-->


        foreach (var l3 in l2.l3_list)
        {
            <section id="@("l3-" + l3.product_category_l3_id)" class="kind">

                <h3 class="font-sp">@l3.l3_name</h3>
                @foreach (var prod in l3.product_list)
                {
                    <figure>
                        <img src="@prod.imgsrc" alt="@prod.power">
                        <figcaption>
                            <h4>@prod.power</h4>
                            @foreach (var md in prod.models)
                        {
                                <span>@md.model_name</span>
                            }
                            <a href="~/Products/PSU_content?id=@prod.product_id">READ MORE</a>
                        </figcaption>
                    </figure>
                }
            </section>
        }
    }

</div><!-- content //-->
