@{
    var sidebar = (List<ProcCore.Business.DB0.L1>)ViewBag.Sidebar;
}
<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="AC-DC power,Power Supply ODM/OEM,CV,CC,CV+CC,Dali">
    <meta name="description" content="Atek JAPAN is aiming to provide a high quality Power Supply solution to the market.Our design team members have more than ten years of experiences in power supply related fields. The Atek Power Supply design combines the competency of advanced technology from Japan and manufacturing cost advantages from Asia. Therefore, it makes Atek a highly competitive company in the LED Lighting, communications, consumer and industrial market.">
    <title>@Resources.Res.System_FrontName::@ViewBag.Title</title>
    <script src="~/Scripts/cdn/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    <!--[if lt IE 9]><script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script><![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" />
    <link href="~/Content/css/grid.css" rel="stylesheet">
    <link href="~/Content/css/swiper.min.css" rel="stylesheet">
    @RenderSection("css", false)
    @if (ViewBag.IsFirstPage)
    {
        <link href="~/Content/css/index.css" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css" rel="stylesheet">
    }
    <link href="~/Content/css/grid.css" rel="stylesheet">
    @{
        string jp_SetLang = Url.Action("SetLanguage") + "?L=ja-JP&A=index"
            , en_SetLang = Url.Action("SetLanguage") + "?L=en-US&A=index";

        if (Request.Url.Segments.Length > 2)
        {
            if (Request.Url.Segments[2].IndexOf("PSU_list") >= 0)
            {
                var lang = (List<DotWeb.WebApp.Controllers.ProductLang>)ViewBag.lang;
                string id = Request.QueryString["l1_id"];
                int[] en ;
                int[] jp ;
                int index = 0;
                foreach (var la in lang)
                {
                    jp = la.data.ToArray();
                    en = la.data.ToArray();
                    if (id != null)
                    {
                        for (var i = 0; i < jp.Length; i++)
                         {
                            if (jp[i] == int.Parse(id))
                            {
                                index = i;
                            }
                        }
                    }

                en_SetLang = Url.Action("SetLanguageForP") + "?L=en-US&A=PSU_list" + "&l1_id=" + en[index];
                jp_SetLang = Url.Action("SetLanguageForP") + "?L=ja-JP&A=PSU_list" + "&l1_id=" + jp[index];
                }
            }
        }
    }
</head>

<body class="@ViewBag.BodyClass">
    @if (CommWebSetup.IsDemo == "1")
    {
        <div class="bg-red">網站已正式上線，此為內部demo站</div>
    }

    <div id="wrapper">

        <header id="header">
            <h1 onclick="location.href='@Url.Content("~/index")'" title="回首頁">ATEK JAPAN</h1>
            <button class="menu-trigger"><span>メニュー</span></button>
            <ul id="menu" class="list-inline">
                <li>
                    <a href="#">プロダクト</a>
                    <nav class="sub-nav" data-dropdown="content">
                        @foreach (var l1 in sidebar)
                        {
                            <dl>
                                <dt>
                                    @l1.l1_name
                                </dt>
                                @foreach (var l2 in l1.l2_list)
                                {
                                    <dd>
                                        <h5>@l2.l2_name</h5>


                                        @foreach (var l3 in l2.l3_list)
                                        {

                                            if (l3.l3_id == ViewBag.l3_id)
                                            {
                                                <a class="current" href="~/Products/PSU_list?l1_id=@l1.l1_id&l2_id=@l2.l2_id&l3_id=@l3.l3_id#l3-@l3.l3_id">@l3.l3_name</a>
                                                @*<a class="btn active" href=@("~/Products/PSU_list?l2_id=" + l2.l2_id +"&l3_id="+l3.l3_id+ "#l3-" + l3.l3_id) data-exist="1">@l3.l3_name</a>*@
                                            }
                                            else
                                            {
                                                <a href="~/Products/PSU_list?l1_id=@l1.l1_id&l2_id=@l2.l2_id&l3_id=@l3.l3_id#l3-@l3.l3_id">@l3.l3_name</a>
                                                @*<a class="btn" href=@("~/Products/PSU_list?l2_id=" + l2.l2_id + "&l3_id=" + l3.l3_id + "#l3-" + l3.l3_id) data-exist="1">@l3.l3_name</a>*@
                                            }
                                        }

                                    </dd>
                                }

                            </dl>
                        }
                    </nav>
                </li>
                <li><a href="~/AboutUs">会社概要</a></li>
                <li><a href="~/Support">サポート</a></li>
                <li><a href="~/News">ニュース</a></li>
                <li><a href="~/ContactUs">お問い合わせ</a></li>
            </ul>
            <div class="dropdown">
                <button class="dropbtn">日本語</button> @* 言語 *@
                <nav class="dropdown-content">
                    <a href="@en_SetLang">English</a>
                </nav>
            </div>
        </header><!-- header //-->

        @if (ViewBag.IsFirstPage)
        {
            @RenderBody()
        }
        else
        {
            <main id="main">
                <form action="" class="col-2 col-xs-12 input-group search" id="Search">
                    <input type="Search" name="keyword" id="m_keyword" placeholder="検索...">
                    <button type="submit" form="Search" class="input-group-btn">検索</button>
                </form>

                <ul class="breadcrumb">
                    <li><a href="~/index">ホーム</a></li>
                    @RenderSection("breadCrumb", required: false)
                    <li>@ViewBag.Target</li> @* 當前頁名稱 *@
                </ul>

                @RenderBody()

            </main>
        }

    </div><!-- wrapper //-->

    <a href="#header" class="goTop scroll">TOP</a>

    <footer id="footer">
        <div class="wrap">
            <section class="contact col-10 col-sm-12">
                <ul class="list-unstyled col-3 col-sm-12">
                    <li><em>TEL</em>043-312-3738</li>
                    <li><em>FAX</em>043-312-7845</li>
                </ul>
                <ul class="list-unstyled col-9 col-sm-12">
                    <li>Atek JAPAN 株式会社@* | 市場への電力供給の高品質を提供することを目指しています*@</li>
                    <li>Address: 〒285- 0811 日本千葉県佐倉市表町一丁目３ ー３ 嘉倉ビル403</li>
                    <li>E-mail: <a class="hover-underline" href="mailto:sales@atek-japan.com">sales@atek-japan.com</a></li>
                </ul>
            </section>
            <!-- <nav class="club">
                <a href="">Twitter</a>
                <a href="">FaceBook</a>
                <a href="">YouTube</a>
            </nav> -->
            <div class="copyright">Atek JAPAN &copy; 2016</div>
        </div>
    </footer><!-- footer -->

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/swiper/swiper.min.js"></script>
    <script src="~/Content/js/common.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/GoogleAnalytics.js"></script>
    <script src="~/Scripts/src/tsx/w-search.js"></script>
</body>
</html>