<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title:@Resources.Res.System_FrontName</title>
    <script src="~/Scripts/cdn/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    <!--[if lt IE 9]><script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/css/grid.css">
    @if (ViewBag.IsFirstPage)
    {
        <link href="~/Content/css/index.css" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css" rel="stylesheet">
    }
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

    <div id="wrapper">

        <header id="header">
            <h1 onclick="location.href='@Url.Content("~/index")'" title="回首頁">ATEK JAPAN</h1>
            <button class="menu-trigger">MENU</button>
            <nav id="menu">
                <h2 class="toggle hidden">MENU</h2>
                <a href="~/Products/PSU_list">PRODUCTS</a>
                <a href="~/AboutUs">ABOUT US</a>
                <a href="~/Support">SUPPORT</a>
                <a href="~/News/list">NEW</a>
                <a href="~/ContactUs">CONTACT</a>
            </nav>
            <div class="dropdown">
                <button class="dropbtn">Language</button>
                <nav class="dropdown-content">
                    <a href="#">English</a>
                    <a href="#">日本語</a>
                </nav>
            </div>
        </header><!-- header //-->

        <main id="main">
            @if (ViewBag.IsFirstPage)
            {
                @RenderBody()
            }
            else
            {
                @RenderBody()
                <aside id="sidebar">
                    @Html.Partial("~/Views/Products/Sidebar.cshtml")
                </aside>
            }
        </main>

    </div><!-- wrapper //-->

    <footer id="footer">
        <div class="wrap">
            <section class="about">
                <h2 class="title"><span>About Us</span></h2>
                <p>
                關於我們內容
                </p>
            </section>
            <section class="info">
                <h2 class="title"><span>Information</span></h2>
                <ul class="list-inline">
                    <li><a href="~/News/list">最新消息</a></li>
                    <li><a href="~/QA">常見問答</a></li>
                    <li><a href="~/QA/#qa-1">加入會員</a></li>
                    <li><a href="~/QA/#qa-2">購物須知</a></li>
                    <li><a href="~/QA/#qa-3">招商專區</a></li>
                </ul>
            </section>
            <section class="contact">
                <h2 class="title"><span>Contact Us</span></h2>
                <ul class="list-unstyled">
                    <li>桃園市中壢區東興街121號</li>
                    <li>Tel: <strong>(03) 468-9493</strong> Fax: <strong>(03) 428-3055</strong></li>
                    <li>統一編號: 54307745</li>
                </ul>
            </section>
            <aside class="fb">
                <h2 class="hidden">Facebook</h2>
                <img src="~/Content/images/FB.jpg" alt="">
            </aside>
            <div class="copyright">1KOMO.com &copy; 2015</div>
            <a href="#header" class="goTop scroll">TOP</a>
        </div>
    </footer><!-- footer -->

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/common.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/GoogleAnalytics.js"></script>
</body>
</html>