<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title:@Resources.Res.System_FrontName</title>
    <script src="~/Scripts/cdn/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    <!--[if lt IE 9]><script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/css/grid.css">
    @if (ViewBag.IsFirstPage)
    {
        <link href="~/Content/css/index.css" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css" rel="stylesheet">
    }
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

    <div id="wrapper">

        <header id="header">
            <h1 onclick="location.href='@Url.Content("~/index")'" title="回首頁">ATEK JAPAN</h1>
            <button class="menu-trigger">MENU</button>
            <nav id="menu">
                <a href="~/Products">PRODUCTS</a>
                <a href="~/AboutUs">ABOUT US</a>
                <a href="~/Support">SUPPORT</a>
                <a href="~/News">NEWS</a>
                <a href="~/ContactUs">CONTACT</a>
            </nav>
            <div class="dropdown">
                <button class="dropbtn">Language</button>
                <nav class="dropdown-content">
                    <a href="#">English</a>
                    <a href="#">日本語</a>
                </nav>
            </div>
        </header><!-- header //-->

        @if (ViewBag.IsFirstPage)
        {
            @RenderBody()
        }
        else
        {
            <main id="main">
                <!-- <aside>
                    @Html.Partial("~/Views/Products/Sidebar.cshtml")
                </aside> -->
                <ul class="breadcrumb">
                    <li><a href="~/index">Home</a></li>
                    @RenderSection("breadCrumb", required: false)
                    <li>@ViewBag.Title</li> @* 當前頁名稱 EX.藍光DVD播放機 *@
                </ul>

                @RenderBody()

            </main>
        }

    </div><!-- wrapper //-->

    <footer id="footer">
        <div class="wrap">
            <section class="contact col-9">
                <ul class="list-unstyled col-5">
                    <li><em>TEL</em>+886 3 439-3588</li>
                    <li><em>FAX</em>+886 3 439-5090</li>
                </ul>
                <ul class="list-unstyled col-7">
                    <li>Taiwan (R.O.C.) Alder Optomechanical Corp.</li>
                    <li>Address: No. 171, Tianjing St., Pingzhen Dist., Taoyuan City 32458,  Taiwan (R.O.C.)</li>
                    <li>E-mail: <a href="mailto:sales@alder.com.tw">sales@alder.com.tw</a></li>
                </ul>
            </section>
            <nav class="club">
                <a href="">Twitter</a>
                <a href="">FaceBook</a>
                <a href="">YouTube</a>
            </nav>
            <div class="copyright">ATEK JAPAN &copy; 2016</div>
            <a href="#header" class="goTop scroll">TOP</a>
        </div>
    </footer><!-- footer -->

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/common.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/GoogleAnalytics.js"></script>
</body>
</html>