@model DotWeb.Controllers.IndexInfo
@{
    ViewBag.Title = "Atek JAPAN Let's Be Your Power Partner";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script>
        var mySwiper = new Swiper('#banner', {
            autoplay: 4000,
            speed: 1000,
            effect: 'fade',
            autoplayDisableOnInteraction: false
        })
    </script>
}

<div id="banner" class="swiper-container">
    <ul class="swiper-wrapper">
        @* 圖片尺寸:w1400 x h500 *@
        @foreach (var banner in Model.banners)
        {
            if (banner.imgsrc != null)
            {
                <li class="swiper-slide"><img src="@banner.imgsrc" alt="@banner.banner_name"></li>
            }
        }
    </ul>
</div><!-- banner //-->

<section id="main">

    <a class="new-product" href="~/Products/PSU_list">
        @* 後台可換圖 w960 x h580 *@
        <img src="@Model.NewProuctImgSrc">
    </a>
    <ul class="list-inline">
        @* 後台可換圖 w420 x h200 *@
        <li><a href="~/AboutUs" style="background-image: url(@Model.About1ImgSrc)">ABOUT ATEK</a></li>
        <li><a href="~/AboutUs" style="background-image: url(@Model.About2ImgSrc)">OEM/ODM</a></li>
        <li><a href="~/News?category=6" style="background-image: url(@Model.NewsImgSrc)">EXHIBITION</a></li>
        <li><a href="~/Support" style="background-image: url(@Model.SupportImgSrc)">SUPPORT</a></li>
    </ul>

</section><!-- main //-->