@model DotWeb.Controllers.IndexInfo
@{
    ViewBag.Title = "Atek JAPAN Let's Be Your Power Partner";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
    <script>
        var mySwiper = new Swiper('#banner', {
            autoplay: 4000,
            speed: 1000,
            effect: 'fade',
            autoplayDisableOnInteraction: false,
            fade: {
              crossFade: true
            },
            pagination : '.swiper-pagination',
            paginationClickable :true,
        })
    </script>
}

<div id="banner" class="swiper-container">
    <ul class="swiper-wrapper">
        @* 圖片尺寸:w1400 x h500 *@
        @foreach (var banner in Model.banners)
        {
            if (banner.imgsrc != null)
            {
                <li class="swiper-slide"><img src="@banner.imgsrc" alt="@banner.banner_name"></li>
            }
        }
    </ul>
    <div class="swiper-pagination"></div>
</div><!-- banner //-->

<section id="main">

    <a class="new-product" href="@Model.url_1">
        @* 後台可換圖 w960 x h580 *@
        <img src="@Model.NewProuctImgSrc">
    </a>
    <nav class="quick-nav">
        @* 後台可換圖 w420 x h206  style="background-image: url(@Model.About1ImgSrc) *@
        @* <a href="@Model.url_2"> *@
        <a href="~/AboutUs">
            <img src="@Model.About1ImgSrc" alt="ABOUT ATEK">
        </a>
        @* <a href="@Model.url_3"> *@
        <a href="~/AboutUs">
            <img src="@Model.About2ImgSrc" alt="OEM/ODM">
        </a>
        @* <a href="@Model.url_4"> *@
        <a href="~/News">
            <img src="@Model.NewsImgSrc" alt="EXHIBITION">
        </a>
        @* <a href="@Model.url_5"> *@
        <a href="~/Support">
            <img src="@Model.SupportImgSrc" alt="SUPPORT">
        </a>
    </nav>

</section><!-- main //-->