@model List<ProcCore.Business.DB0.m_Product>
@{
    ViewBag.Title = "Search";
    ViewBag.BodyClass = "Search";
    ViewBag.Target = "SEARCH";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="kind">
    <h3>搜尋關鍵字為「@ViewBag.keyword」</h3>
    @foreach (var i in Model)
    {
        <figure>
            <img src="@i.imgsrc" alt="產品圖">
            <figcaption>
                <h3>@i.l1_name/ @i.l2_name/ @i.l3_name</h3>
                <h4>@i.power</h4>
                @foreach (var j in i.models)
                {
                    <span>@j.model_name</span>
                }
                <a href="~/Products/PSU_content?id=@i.product_id">READ MORE</a>
            </figcaption>
        </figure>
    }

</section>
